<% if @books %>
	<h1>Textbooks for <a href="/view/course/<%= @course.id%>"><%= @course.name %></a>:</h1>
	<% @books.each do |book| %>
		<a href="/view/book/<%= book.id%>"><%= book.name %></a>
		<br/>
	<% end %>
<% else %>
	<h1>No books found :(</h1>
<% end %>
