<h1>Welcome to TreeBooks or whatever it's called</h1>
<%= form_tag('/home/search', method: "post") do %>
	<%= label_tag(:q, "Search for:") %>
  	<%= text_field_tag(:query) %>
  	<%= submit_tag("Search") %>
<% end %>